body{
    background-image: url(https://images.unsplash.com/photo-1497002961800-ea7dbfe18696?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8dm9sY2Fub3xlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
}

.progress-bar{
    min-height: 2em;
}
.boss-card {
    padding: 1rem;
    color: azure;
    text-shadow: 2px 2px black;
    /* background-image: url(https://images.unsplash.com/photo-1516214104703-d870798883c5?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    background-size: cover;
    background-position: bottom;
  }

  .boss-img {
    filter: drop-shadow(10px 10px 15px black);
    transition: all .1s ease-out;
  }
  
  .boss-img:active {
    filter: drop-shadow(16px 16px 80px red);
  }